In [24]:
import math
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder
from sklearn import tree
%matplotlib inline

In [8]:
data=pd.read_excel("Documents\\logic.xlsx")
data.head()

  company        designation qualification  salary
0    Meta                ceo           MBA     258
1    Meta     sales engineer      Bachelor     446
2    Meta  bussiness officer     Doctorate     469
3    Meta  product e ngineer  intermediate     276
4    Meta   research officer       masters     254

In [5]:
#clippling the columns for the input arrangement
inputs=data.drop('salary', axis='columns')
target=data['salary']

In [9]:
inputs.head()

  company        designation qualification
0    Meta                ceo           MBA
1    Meta     sales engineer      Bachelor
2    Meta  bussiness officer     Doctorate
3    Meta  product e ngineer  intermediate
4    Meta   research officer       masters

In [14]:
encode=LabelEncoder()
lbl_company=LabelEncoder()
lbl_designation=LabelEncoder()
lbl_qualification=LabelEncoder()

In [15]:
inputs['lbl_company']=encode.fit_transform(inputs['company'])
inputs['lbl_designation']=encode.fit_transform(inputs['designation'])
inputs['lbl_qualification']=encode.fit_transform(inputs['qualification'])

In [17]:
inputs.head()

,company,designation,qualification,lbl_company,lbl_designation,lbl_qualification
0,Meta,ceo,MBA,0,1,2
1,Meta,sales engineer,Bachelor,0,5,0
2,Meta,bussiness officer,Doctorate,0,0,1
3,Meta,product e ngineer,intermediate,0,2,3
4,Meta,research officer,masters,0,4,4

In [22]:
updated=inputs.drop(['company','designation','qualification'],axis='columns')
updated.head()

   lbl_company  lbl_designation  lbl_qualification
0            0                1                  2
1            0                5                  0
2            0                0                  1
3            0                2                  3
4            0                4                  4

In [26]:
model=tree.DecisionTreeClassifier()
model.fit(updated,target)

DecisionTreeClassifier()

In [29]:
model.score(updated, target)
model.predict([[0,4,4]])

H:\conda\anaconda\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array([254], dtype=int64)